# Classification Exercises

## Data Acquisition

## 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
from pydataset import data
import pandas as pd
import numpy as np

In [ ]:
df_iris = data('iris')

* print the first 3 rows

In [ ]:
print(df_iris.head(3))

* print the number of rows and columns (shape)

In [ ]:
print(df_iris.shape)

* print the column names

In [ ]:
print(df_iris.columns.values)

* print the data type of each column

In [ ]:
print(df_iris.info())

* print the summary statistics for each of the numeric variables

In [ ]:
print(df_iris.describe())

## 5. Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

* print the first 3 rows

In [ ]:
print(df_google.head(3))

* print the number of rows and columns (shape)

In [ ]:
print(df_google.shape)

* print the column names

In [ ]:
print(df_google.columns.values)

* print the data type of each column

In [ ]:
print(df_google.info())

* print the summary statistics for each of the numeric variables

In [ ]:
print(df_google.describe())

## 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel('train.xlsx')

* assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)
df_excel_sample

* print the number of rows of your original dataframe

In [ ]:
print(len(df_excel))

* print the first 5 column names

In [ ]:
print(df_excel.columns.values[:5])

* print the column names that have a data type of object

In [ ]:
print(df_excel.select_dtypes(include='object').columns)

* compute the range for each of the numeric variables.

In [ ]:
df_range = (df_excel.select_dtypes(exclude='object').max()) - (df_excel.select_dtypes(exclude='object').min())
print(df_range)

# Data Preparation

In [2]:
import acquire
import pandas as pd

## Using the Iris Data

### 1. Use the function defined in acquire.py to load the iris data.

In [3]:
iris_df = acquire.get_iris_data()
iris_df

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
...,...,...,...,...,...,...,...
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

### 2. Drop the species_id and measurement_id columns.

In [4]:
dropped_col = ['species_id', 'measurement_id']
iris_df = iris_df.drop(columns=dropped_col)
iris_df

    species_name  sepal_length  sepal_width  petal_length  petal_width
0         setosa           5.1          3.5           1.4          0.2
1         setosa           4.9          3.0           1.4          0.2
2         setosa           4.7          3.2           1.3          0.2
3         setosa           4.6          3.1           1.5          0.2
4         setosa           5.0          3.6           1.4          0.2
..           ...           ...          ...           ...          ...
145    virginica           6.7          3.0           5.2          2.3
146    virginica           6.3          2.5           5.0          1.9
147    virginica           6.5          3.0           5.2          2.0
148    virginica           6.2          3.4           5.4          2.3
149    virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

### 3. Rename the species_name column to just species.

In [5]:
iris_df = iris_df.rename(columns={'species_name':'species'})
iris_df

       species  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2
..         ...           ...          ...           ...          ...
145  virginica           6.7          3.0           5.2          2.3
146  virginica           6.3          2.5           5.0          1.9
147  virginica           6.5          3.0           5.2          2.0
148  virginica           6.2          3.4           5.4          2.3
149  virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

### 4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [6]:
iris_df = pd.get_dummies(iris_df, drop_first=True)
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,1
146,6.3,2.5,5.0,1.9,0,1
147,6.5,3.0,5.2,2.0,0,1
148,6.2,3.4,5.4,2.3,0,1
149,5.9,3.0,5.1,1.8,0,1

## 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [8]:
def prep_iris(df):
    '''This function will drop duplicate observations, drop 'species_id' and 'measurement_id',
        rename the 'species_name' column to 'species', and create dummy variables for species. '''
    
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns={'species_name':'species'})
    df = pd.get_dummies(iris_df, drop_first=True)
    return df

In [9]:
fresh_iris = acquire.get_iris_data()
prep_iris(fresh_iris)

,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,1
146,6.3,2.5,5.0,1.9,0,1
147,6.5,3.0,5.2,2.0,0,1
148,6.2,3.4,5.4,2.3,0,1
149,5.9,3.0,5.1,1.8,0,1

## Using the Titanic Dataset

### 1. Use the function defined in acquire.py to load the Titanic data.

In [ ]:
titanic_df = acquire.get_titanic_data()
titanic_df

## 2. Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
titanic_df = titanic_df.drop(columns=['deck', 'class', 'embarked', 'age'])
titanic_df

## 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df = pd.get_dummies(titanic_df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
titanic_df = pd.concat([titanic_df, dummy_df], axis=1)
titanic_df

## 4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    '''
    This function will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'],
    and create dummy vars from sex and embark_town. 
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['deck', 'embarked', 'class', 'age'])
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

fresh_df = acquire.get_titanic_data()
prep_titanic(fresh_df)

## Using Telco Data

## 1. Use the function defined in acquire.py to load the Telco data.

In [ ]:
telco_df = acquire.get_telco_data()
telco_df

In [ ]:
telco_df.info()

## 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
telco_df = telco_df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])
telco_df

## 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df = pd.get_dummies(telco_df[['gender', 'partner', 'dependents', 'phone_service','multiple_lines', 'online_security', 'online_backup','device_protection', 'tech_support', 'streaming_tv', 'streaming_movies','paperless_billing', 'churn', 'payment_type','contract_type', 'internet_service_type']], dummy_na=False, drop_first=True)
telco_df = pd.concat([telco_df, dummy_df], axis=1)
telco_df

## 4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
def prep_telco(df):
    '''This function removes duplicates, changes total_charges to float, 
       removes the columns 'internet_service_type_id', 'contract_type_id', 'payment_type_id',
       and creates dummy variables for 'gender', 'partner', 'dependents', 'phone_service',
       'multiple_lines', 'online_security', 'online_backup','device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies','paperless_billing', 'churn', 'payment_type','contract_type', 'internet_service_type'.'''
    df = df.drop_duplicates()
    df['total_charges'] = telco_df.total_charges.str.strip().replace('', np.nan, regex=True).dropna()
    df = df.total_charges.astype(float)
    df = df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])
    dummy_df = pd.get_dummies(telco_df[['gender', 'partner', 'dependents', 'phone_service','multiple_lines', 'online_security', 'online_backup','device_protection', 'tech_support', 'streaming_tv', 'streaming_movies','paperless_billing', 'churn', 'payment_type','contract_type', 'internet_service_type']], dummy_na=False, drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

fresh_df = acquire.get_telco_data()
prep_telco(fresh_df)

## Split Data

In [ ]:
from sklearn.model_selection import train_test_split
def split_data(df):
    '''This function takes a dataframe and returns the train, validate, and test dataframes.'''
    
    train_validate, test = train_test_split(df, test_size = .2, random_state=311)
    train, validate = train_test_split(train_validate, test_size = .3, random_state=311)
    
    return train, validate, test

## 1. Test split on iris data.

In [ ]:
train, validate, test = split_data(iris_df)

In [ ]:
# Validate my split.

print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

## 2. Test on titanic data.

In [ ]:
train, validate, test = split_data(titanic_df)

In [ ]:
# Validate my split.

print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

## 3. Test on telco data.

In [ ]:
train, validate, test = split_data(telco_df)

In [ ]:
# Validate my split.

print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')