# Decision Tree Exercises

Using the titanic data, in your classification-exercises repository, create a notebook, decision_tree.ipynb where you will do the following:

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import acquire
import prepare
import env

In [2]:
df = acquire.get_titanic_data()

In [3]:
clean_df = prepare.prep_titanic(df)

In [4]:
train, validate, test = prepare.split_data(clean_df)

In [5]:
train.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
376,376,1,3,female,0,0,7.2500,Southampton,1,0,0,1
457,457,1,1,female,1,0,51.8625,Southampton,0,0,0,1
77,77,0,3,male,0,0,8.0500,Southampton,1,1,0,1
665,665,0,2,male,2,0,73.5000,Southampton,0,1,0,1
29,29,0,3,male,0,0,7.8958,Southampton,1,1,0,1

## 1. What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

Baseline accuracy is 0 or did not survive.

In [6]:
#Instructor Answer:
baseline_accuracy = (train.survived == 0).mean()
baseline_accuracy

0.6067415730337079

## 2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [7]:
x_train = train.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_train = train.survived

x_validate = validate.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_validate = validate.survived

x_test = test.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_test = test.survived

In [8]:
clf3 = DecisionTreeClassifier(max_depth=3, random_state=311)

In [9]:
clf = clf3.fit(x_train, y_train)

In [10]:
#plt.figure(figsize=(13, 7))
#plot_tree(clf, feature_names=x_train.columns, class_names=clf.classes_, rounded=True)

In [11]:
#Instructor Answer:
clf3.score(x_train, y_train)

0.799625468164794

In [12]:
y_pred = clf3.predict(x_train)

y_pred_proba = clf3.predict_proba(x_train)

## 3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [13]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(x_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.80

In [14]:
confusion_matrix(y_train, y_pred)

array([[291,  33],
       [ 74, 136]])

In [15]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.90      0.84       324
           1       0.80      0.65      0.72       210

    accuracy                           0.80       534
   macro avg       0.80      0.77      0.78       534
weighted avg       0.80      0.80      0.79       534

In [16]:
prepare.evaluate_clf(clf3, x_train, y_train, y_pred)

(0.799625468164794,
           Pred 0  Pred 1
 Actual 0     291      33
 Actual 1      74     136,
                     0           1  accuracy   macro avg  weighted avg
 precision    0.797260    0.804734  0.799625    0.800997      0.800199
 recall       0.898148    0.647619  0.799625    0.772884      0.799625
 f1-score     0.844702    0.717678  0.799625    0.781190      0.794749
 support    324.000000  210.000000  0.799625  534.000000    534.000000,
                 metric       score
 0             accuracy    0.799625
 1   true_positive_rate    0.647619
 2  false_positive_rate    0.101852
 3   true_negative_rate    0.898148
 4  false_negative_rate    0.352381
 5            precision    0.804734
 6               recall    0.647619
 7             f1_score    0.717678
 8          support_pos  210.000000
 9          support_neg  324.000000)

## 4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [17]:
cm = confusion_matrix(y_train, y_pred)

In [18]:
prepare.get_cm_metrics(cm)

                metric       score
0             accuracy    0.799625
1   true_positive_rate    0.647619
2  false_positive_rate    0.101852
3   true_negative_rate    0.898148
4  false_negative_rate    0.352381
5            precision    0.804734
6               recall    0.647619
7             f1_score    0.717678
8          support_pos  210.000000
9          support_neg  324.000000

## 5. Run through steps 2-4 using a different max_depth value.

In [28]:
clf5 = DecisionTreeClassifier(max_depth=5)
clf5.fit(x_train, y_train)
clf.score(x_train, y_train)

0.799625468164794

In [29]:
clf8 = DecisionTreeClassifier(max_depth=8)
clf8.fit(x_train, y_train)
clf.score(x_train, y_train)

0.799625468164794

## 6. Which model performs better on your in-sample data?

Model 3, with max_depth as 8, performs the best on sample data.

## 7. Which model performs best on your out-of-sample data, the validate set?

In [25]:
y_val_pred1 = clf3.predict(x_validate)
y_val_pred2 = clf5.predict(x_validate)
y_val_pred3 = clf8.predict(x_validate)

In [27]:
print(classification_report(y_validate, y_val_pred1))

print(classification_report(y_validate, y_val_pred2))

print(classification_report(y_validate, y_val_pred3))

              precision    recall  f1-score   support

           0       0.80      0.92      0.86       107
           1       0.84      0.66      0.74        71

    accuracy                           0.81       178
   macro avg       0.82      0.79      0.80       178
weighted avg       0.82      0.81      0.81       178

              precision    recall  f1-score   support

           0       0.80      0.88      0.84       107
           1       0.78      0.66      0.72        71

    accuracy                           0.79       178
   macro avg       0.79      0.77      0.78       178
weighted avg       0.79      0.79      0.79       178

              precision    recall  f1-score   support

           0       0.81      0.86      0.83       107
           1       0.77      0.69      0.73        71

    accuracy                           0.79       178
   macro avg       0.79      0.77      0.78       178
weighted avg       0.79      0.79      0.79       178

Model 1, with max depth as 3 performs best on the validate data.