# KNN Model Exercises

Create a new notebook, knn_model, and work with the titanic dataset to answer the following:

In [30]:
import pandas as pd

import acquire
from env import get_db_url
import prepare

import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
titanic_db = acquire.get_titanic_data()

In [5]:
titanic_prep = prepare.prep_titanic(titanic_db)

In [6]:
train, validate, test = prepare.split_data(titanic_prep)

In [8]:
print(train.shape, validate.shape, test.shape)

(534, 12) (178, 12) (179, 12)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
376,376,1,3,female,0,0,7.2500,Southampton,1,0,0,1
457,457,1,1,female,1,0,51.8625,Southampton,0,0,0,1
77,77,0,3,male,0,0,8.0500,Southampton,1,1,0,1
665,665,0,2,male,2,0,73.5000,Southampton,0,1,0,1
29,29,0,3,male,0,0,7.8958,Southampton,1,1,0,1

## 1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

In [17]:
x_train = train.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_train = train.survived

knn5 = KNeighborsClassifier(n_neighbors=5, weights='uniform')
knn5.fit(x_train,y_train)

KNeighborsClassifier()

In [18]:
y_pred = knn5.predict(x_train)

In [19]:
y_pred_proba = knn5.predict_proba(x_train)

## 2. Evaluate your results using the model score, confusion matrix, and classification report.

In [24]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn5.score(x_train, y_train)))

Accuracy of KNN classifier on training set: 0.80

In [25]:
print(confusion_matrix(y_train, y_pred))

[[280  44]
 [ 61 149]]

In [21]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       324
           1       0.77      0.71      0.74       210

    accuracy                           0.80       534
   macro avg       0.80      0.79      0.79       534
weighted avg       0.80      0.80      0.80       534

## 3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [28]:
print(accuracy_score(y_train, y_pred))

0.8033707865168539

In [31]:
print(precision_score(y_train, y_pred))

0.772020725388601

In [32]:
print(recall_score(y_train, y_pred))

0.7095238095238096

In [33]:
print(f1_score(y_train, y_pred))

0.739454094292804

## 4. Run through steps 1-3 setting k to 10

## 5. Run through steps 1-3 setting k to 20

## 6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

## 7. Which model performs best on our out-of-sample data from validate?