# Model Evaluation

## 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

   - TP = We predict that it will be a dog; it is actually a dog (46)
   - TN = We predict that it will not be a dog; it is actually not a dog (34)
   - FP = We predict that it will be a dog; it is actually not a dog (13)
   - FN = We predict that it will not be a dog; it is actually a dog (7)

Accuracy = (46 + 34) / (46 + 34 + 13 + 7) = 80%

Precision = (46) / (46 + 13) = 78%

Recall = (46) / (46 + 7) = 87%

## 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

## Use the predictions dataset and pandas to help answer the following questions:

In [1]:
import pandas as pd
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [2]:
c3_df = pd.read_csv('c3.csv')

In [3]:
c3_df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [4]:
model_1 = pd.DataFrame({'actual':c3_df['actual'], 'model1': c3_df['model1']})

In [5]:
model_1

        actual     model1
0    No Defect  No Defect
1    No Defect  No Defect
2    No Defect  No Defect
3    No Defect     Defect
4    No Defect  No Defect
..         ...        ...
195  No Defect  No Defect
196     Defect     Defect
197  No Defect  No Defect
198  No Defect  No Defect
199  No Defect  No Defect

[200 rows x 2 columns]

In [6]:
model_2 = pd.DataFrame({'actual':c3_df['actual'], 'model2': c3_df['model2']})

In [7]:
model_2

        actual     model2
0    No Defect     Defect
1    No Defect     Defect
2    No Defect     Defect
3    No Defect     Defect
4    No Defect     Defect
..         ...        ...
195  No Defect     Defect
196     Defect  No Defect
197  No Defect  No Defect
198  No Defect     Defect
199  No Defect  No Defect

[200 rows x 2 columns]

In [8]:
model_3 = pd.DataFrame({'actual':c3_df['actual'], 'model3': c3_df['model3'] })

In [9]:
model_3

        actual     model3
0    No Defect  No Defect
1    No Defect     Defect
2    No Defect  No Defect
3    No Defect     Defect
4    No Defect  No Defect
..         ...        ...
195  No Defect     Defect
196     Defect  No Defect
197  No Defect  No Defect
198  No Defect     Defect
199  No Defect     Defect

[200 rows x 2 columns]

In [10]:
y_actual = c3_df.actual
y_pred1 = c3_df.model1
y_pred2 = c3_df.model2
y_pred3 = c3_df.model3

In [11]:
print(classification_report(y_actual, y_pred1, labels=['Defect', 'No Defect']))

              precision    recall  f1-score   support

      Defect       0.80      0.50      0.62        16
   No Defect       0.96      0.99      0.97       184

    accuracy                           0.95       200
   macro avg       0.88      0.74      0.79       200
weighted avg       0.95      0.95      0.94       200

In [12]:
print(classification_report(y_actual, y_pred2, labels=['Defect', 'No Defect']))

              precision    recall  f1-score   support

      Defect       0.10      0.56      0.17        16
   No Defect       0.94      0.56      0.70       184

    accuracy                           0.56       200
   macro avg       0.52      0.56      0.44       200
weighted avg       0.87      0.56      0.66       200

In [13]:
print(classification_report(y_actual, y_pred3, labels=['Defect', 'No Defect']))

              precision    recall  f1-score   support

      Defect       0.13      0.81      0.23        16
   No Defect       0.97      0.53      0.69       184

    accuracy                           0.56       200
   macro avg       0.55      0.67      0.46       200
weighted avg       0.90      0.56      0.65       200

### * An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

The best metric would be precision and the best model would be model would be model 1.

### * Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

The best metric would be recall and the best model would be model 1.

## 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

## Several models have already been developed with the data, and you can find their results here.

## Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [14]:
paws_df = pd.read_csv('gives_you_paws.csv')

In [15]:
paws_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [16]:
paws_df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [17]:
paws_df['baseline_prediction'] = 'dog'

In [18]:
paws_df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

### * In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [20]:
models = list(paws_df.columns)
models = models[1:]
models

['model1', 'model2', 'model3', 'model4', 'baseline_prediction']

In [23]:
output = {}
for model in models:
    accuracy = (paws_df.actual == paws_df[model]).mean()
    output.update({model:accuracy})
output

{'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'baseline_prediction': 0.6508}

Model1 and Model4 are better than baseline for accuracy.

## * Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [26]:
subset = paws_df[paws_df.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline_prediction
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
5    dog    dog    dog    dog    dog                 dog
8    dog    dog    cat    dog    dog                 dog

In [28]:
# Model 1
(subset.actual == subset.model1).mean()

0.803318992009834

In [29]:
# Model 2
(subset.actual == subset.model2).mean()

0.49078057775046097

In [30]:
# Model 3
(subset.actual == subset.model3).mean()

0.5086047940995697

In [31]:
#Model 4
(subset.actual == subset.model4).mean()

0.9557467732022127

Model4 has the best recall for the dog team.

## * Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [32]:
subset = paws_df[paws_df.actual == 'cat']
subset

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
6       cat    cat    cat    cat    dog                 dog
7       cat    dog    cat    cat    dog                 dog
11      cat    cat    dog    cat    cat                 dog
...     ...    ...    ...    ...    ...                 ...
4987    cat    dog    cat    dog    dog                 dog
4989    cat    cat    cat    dog    cat                 dog
4991    cat    cat    cat    cat    dog                 dog
4994    cat    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog

[1746 rows x 6 columns]

In [33]:
# Model 1
(subset.actual == subset.model1).mean()

0.8150057273768614

In [34]:
# Model 2
(subset.actual == subset.model2).mean()

0.8906071019473081

In [35]:
# Model 3
(subset.actual == subset.model3).mean()

0.5114547537227949

In [36]:
# Model 4
(subset.actual == subset.model4).mean()

0.34536082474226804

For the cat team, Model 2 has the greatest recall.

## 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [38]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [51]:
# Model 1
print(classification_report(paws_df.actual, paws_df.model1,
                           labels=['cat','dog']))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [52]:
# Model 2
print(classification_report(paws_df.actual, paws_df.model2,
                           labels=['cat','dog']))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [53]:
# Model 3
print(classification_report(paws_df.actual, paws_df.model3,
                           labels=['cat', 'dog']))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [54]:
# Model 4
print(classification_report(paws_df.actual, paws_df.model4,
                           labels=['cat','dog']))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000